<div id="body">
      <div id="center">
          <div id="center1">Найдите, где остановиться.</div>
          <div id="center2">Снимайте жилье в Украине без риэлторов. </div>
          <input id="search" placeholder="Куда поедите ?">
      </div>
      <div id="home"><img src="/images/home.png"></div>
</div>

