<div id="footer">

    <div id="line3"></div>

    <div id="about">
        <div id="about1"><%= link_to 'Подробнее' %>Немного о нас</div>
        <div id="about2">Как это работает ?</div>
        <div id="about3">Хотите сдать квартиру ?</div>
    </div>

    <div id="social">
        <div id="Facebook">Facebook</div>
        <div id="twitter">twitter</div>
        <div id="vk">Вконтакте</div>
    </div>


    <div id="copyright">© 2010–2012 everyday's</div>




</div>