<div id="head">
       <div id="logo">
         <%= link_to 'EveryDays', :controller => :welcome %>
       </div>
       <div id="login"><a href="">Войти</a></div>
       <div id="register"><a href="">Регистрация</a></div>
       <div id="ad_button"><a href="http://localhost:3027/rooms/new"><img src="/images/ad_button.png" alt="" /></a></div>
       <div id="line"></div>
           <div id="city">
               <div id="city1"><a href="http://localhost:3028/cities/Lvov">Львов</a></div>
               <div id="city2"><a href="http://localhost:3028/cities/Kiev">Киев</a></div>
               <div id="city3"><a href="http://localhost:3028/cities/Odessa">Одесса</a></div>
               <div id="city4"><a href="http://localhost:3028/cities/Krim">Крым</a></div>
               <div id="city5"><a href="http://localhost:3028/cities/Karpaty">Карпаты</a></div>
               <div id="city6"><a href="http://localhost:3028/cities/Harkov">Харьков</a></div>
               <div id="city7"><a href="http://localhost:3028/cities/Yalta">Ялта</a></div>
               <div id="city8"><a href="http://localhost:3028/cities/Alushta">Алушта</a></div>
           </div>

           <div id="line2"></div>
</div>
