<div id="head">
       <div id="logo">
         <%= link_to 'EveryDays', :controller => :welcome %>
       </div>
       <div id="login"><a href="">Войти</a></div>
       <div id="register"><%= link_to 'Регистрация' %> </div>
       <div id="ad_button"><a href="/rooms/new"><img src="/images/ad_button.png" alt="" /></a></div>
       <div id="line"></div>
           <div id="city">
               <div id="city1"><a href="/rooms">Львов</a></div>
               <div id="city2"><a href="/cities/Kiev">Киев</a></div>
               <div id="city3"><a href="/cities/Odessa">Одесса</a></div>
               <div id="city4"><a href="/cities/Krim">Крым</a></div>
               <div id="city5"><a href="/cities/Karpaty">Карпаты</a></div>
               <div id="city6"><a href="/cities/Harkov">Харьков</a></div>
               <div id="city7"><a href="/cities/Yalta">Ялта</a></div>
               <div id="city8"><a href="/cities/Alushta">Алушта</a></div>
           </div>

           <div id="line2"></div>
</div>
